@import "_variables";
@import "_mixins";
@import "_components";
body {
    background-color: $background-color;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
.container {
    max-width: 960px;
    margin: 0 auto;
  }
  
.weather-section {
    display: none;
  }
  
button {
    margin: 10px;
  }

